<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>306652838723-h87m2m8uuvqb3ntg0h6htqq7bre26hoi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.306652838723-h87m2m8uuvqb3ntg0h6htqq7bre26hoi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>306652838723-88dbfl9bga54l7oi4crk1i2pa09ju328.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCeZgFFpb5L7KrPCNGwjCjm-dJymXgUOOY</string>
	<key>GCM_SENDER_ID</key>
	<string>306652838723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.karuna.ios</string>
	<key>PROJECT_ID</key>
	<string>fitgrow-857ba</string>
	<key>STORAGE_BUCKET</key>
	<string>fitgrow-857ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:306652838723:ios:b27dcd773d5b56e9548df6</string>
</dict>
</plist>